.dorso {
    width: 200px;
    border-radius: 10px;
    background: white;
    box-shadow: 6px 6px 7px -2px #888888;
    z-index: 0;
}

.texturaDorso {
    position: absolute;
    height: 315px;
    left: -1px;
    width: 201px;
    border-radius: 12px;
    z-index: 1;
}