    .naipe {
        width: 200px;
        border-radius: 10px;
        background: white;
        box-shadow: 6px 6px 7px -2px #888888;
        z-index: 0;
    }
    
    .textura {
        position: absolute;
        bottom: -1px;
        height: 315px;
        left: -1px;
        width: 201px;
        border-radius: 12px;
        z-index: 1;
    }
    
    .texturaDorso {
        position: absolute;
        height: 316px;
        left: 13px;
        width: 204px;
        border-radius: 12px;
        z-index: 3;
        cursor: pointer;
    }
    
    // @keyframes texturaDorso {
    //     from {
    //         transform: scale(1.00);
    //     }
    //     to {
    //         transform: scale(1.05);
    //     }
    // }
    // .texturaDorso:hover {
    //     animation-name: texturaDorso;
    //     animation-duration: 0.3s;
    // }
    .dorso {
        width: 200px;
        border-radius: 10px;
        background: white;
        box-shadow: 6px 6px 7px -2px #888888;
        z-index: 0;
    }
    
    .centroPoker {
        width: 76px;
        position: absolute;
        bottom: 199px;
        right: 57px;
    }
    
    .centroVegas {
        width: 73px;
        position: absolute;
        bottom: 70px;
        right: 57px;
    }
    
    .subNaipe {
        bottom: 111px;
        right: 115px;
        width: 66%;
        height: 68%;
        padding-top: 27%;
        white-space: pre;
        position: absolute;
        font-size: 28px;
        font-family: serif;
        text-align: center;
    }
    
    .subNaipeRotate {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        bottom: -3px;
        right: -40px;
        width: 54%;
        height: 53%;
        padding-top: 24%;
        white-space: pre;
        position: absolute;
        font-size: 28px;
        font-family: serif;
        text-align: center;
    }
    
    .subNaipeRojo {
        bottom: 111px;
        right: 115px;
        width: 66%;
        height: 68%;
        padding-top: 27%;
        white-space: pre;
        position: absolute;
        font-size: 28px;
        font-family: serif;
        text-align: center;
        color: red;
    }
    
    .subNaipeRotateRojo {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        transform: rotate(180deg);
        bottom: -3px;
        right: -40px;
        width: 54%;
        height: 53%;
        padding-top: 24%;
        white-space: pre;
        position: absolute;
        font-size: 28px;
        font-family: serif;
        text-align: center;
        color: red;
    }
    
    .valorNaipeNegro {
        bottom: 42px;
        right: 31px;
        width: 66%;
        height: 74%;
        padding-top: 34%;
        white-space: pre;
        border: 2px solid;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        display: block;
        font-size: 56px;
        font-family: serif;
        text-align: center;
    }
    
    .valorNaipeRojo {
        bottom: 42px;
        right: 31px;
        width: 66%;
        height: 74%;
        padding-top: 34%;
        white-space: pre;
        border: 2px solid;
        border-radius: 6px;
        overflow: hidden;
        box-sizing: border-box;
        position: absolute;
        display: block;
        font-size: 56px;
        font-family: serif;
        text-align: center;
        color: red;
    }