<div class="row">
    <div class="col m-2">

        <img alt="..." (mouseenter)="voltear()" class='{{classDorso}}' src='../../../assets/palos/dorso1.png'>
        <div class='{{classDelante}}'>
            <img alt="..." class="card-img-top textura" [src]='textura'>
            <img id="naipe" [src]='srcNaipe' class="card-img-top naipe" alt="...">
            <div id="palo" class='{{classPalo}}'> {{stringNaipe}} </div>
            <div class='{{classPaloSub}}'> {{stringNaipe}} </div>
            <div class='{{classPaloSubRotate}}'> {{stringNaipe}} </div>
            <img alt="..." class="card-img-top centroPoker" src="../../../assets/palos/centro2.png">
            <img alt="..." class="card-img-top centroVegas" src="../../../assets/palos/vegas.png">
        </div>

    </div>

</div>